body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #2b2b2b;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 220px; /* Largura da sidebar + margem */
    padding: 20px;
    flex-grow: 1;
}

.header {
    text-align: center;
    padding: 20px;
    background-image: url("./img/imgIa.png");
    background-position: center;
    background-size: cover;
    height: 300px; /* Ajuste a altura conforme necessário */
    position: relative;
}

.title {
    color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo preto semi-transparente */
    padding: 10px;
}

.main-content {
    padding: 20px;
    padding-left: 29px;
}

.section {
    margin-bottom: 20px;
}

.subtitle {
    color: #f2f2f2;
    font-size: 24px;
}

.subsection {
    margin-left: 20px;
}

.subsubtitle {
    color: #f2f2f2;
    font-size: 20px;
}

.text {
    line-height: 1.6;
    font-size: 18px;
}

.list {
    list-style-type: square;
}

.list-item {
    font-size: 18px;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #333; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Arredondando as extremidades */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredondando as extremidades */
    border: 3px solid #333; /* Espaço entre a barra e o fundo */
}

/* Classe para destacar a seção */
.highlight {
    animation: highlight-animation 2s ease-in-out;
}

@keyframes highlight-animation {
    0% { background-color: rgba(255, 255, 0, 0.5); }
    100% { background-color: transparent; }
}